<suite name="API Test Suite">

	<listeners>
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
		<listener class-name="listeners.ExtentReportListener" />
	</listeners>



	<test name="ReadyToUse">
		<parameter name="dataset" value="readyToUse_test.csv" />
		<classes>
			<class name="tests.ReadyToUseTest" />
		</classes>
	</test>

</suite>
